name: Build
on:
  push:

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        android_level: [33, 34, 35]
    steps:
      - uses: actions/checkout@v5

      - name: Set Current Date
        env:
          TZ: 'Europe/Rome'
        run: echo "CURRENT_DATE=$(date +'%Y%m%d')" >> $GITHUB_ENV

      - name: Setup QEMU
        uses: docker/setup-qemu-action@v3

      - name: Setup Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and Push Android ${{ matrix.android_level }}
        uses: docker/build-push-action@v6
        with:
          context: .
          platforms: linux/amd64, linux/arm64
          push: true
          build-args: |
            ANDROID_LEVEL=${{ matrix.android_level }}
          tags: |
            nicolabeghin/gitlab-ci-android:${{ matrix.android_level }}
            ${{ matrix.android_level == 35 && 'nicolabeghin/gitlab-ci-android:latest' || '' }}
